h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
/*Це коментар в CSS */
.alert {
	margin-top: 10px;
}
#footer {
	/*задаємо верхню межу елемента: ширина лінії, тип лінії колір Лінії*/
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}
/*Group selector*/
#group-selector {
	padding-top: 30px;
}
#group-selector select{
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border:1 px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}